*.h5 filter=lfs diff=lfs merge=lfs -text
\# filter=lfs diff=lfs merge=lfs -text
for filter=lfs diff=lfs merge=lfs -text
model filter=lfs diff=lfs merge=lfs -text
weights filter=lfs diff=lfs merge=lfs -text
*.pkl filter=lfs diff=lfs merge=lfs -text
serialized filter=lfs diff=lfs merge=lfs -text
models filter=lfs diff=lfs merge=lfs -text
*.csv filter=lfs diff=lfs merge=lfs -text
large filter=lfs diff=lfs merge=lfs -text
datasets filter=lfs diff=lfs merge=lfs -text
*.zip filter=lfs diff=lfs merge=lfs -text
compressed filter=lfs diff=lfs merge=lfs -text
folders filter=lfs diff=lfs merge=lfs -text
*.pt filter=lfs diff=lfs merge=lfs -text
PyTorch filter=lfs diff=lfs merge=lfs -text
*.jpg filter=lfs diff=lfs merge=lfs -text
images filter=lfs diff=lfs merge=lfs -text
if filter=lfs diff=lfs merge=lfs -text
needed filter=lfs diff=lfs merge=lfs -text
